@import url(https://fonts.googleapis.com/css?family=VT323);

body, input, pre {
  font-family: 'VT323', Arial, Helvetica, sans-serif;;
  -webkit-font-smoothing: none;
  font-size: 5.5vw;
  line-height: 1.2;
  text-shadow: 0 0 5px #C8C8C8;
  background-color: #000000;
}
