
.DEC-VT100 * {
  font-family: "DEC-VT100", sans-serif;
  font-size: 20px;
}

.IBM-3270 * {
  font-family: "IBM-3270", monospace;
  font-size: 15px;
}


body, input, pre, button {
  color:  #0f0;
  -webkit-font-smoothing: none;
  line-height: 1.2;
  background-color: #000000;
}



