#terminal-wrapper {
    width: 100%;
    max-height: 80vh;
    padding: 5px;
    overflow-y: auto; /* Add vertical scrolling if the content exceeds the height */
    box-sizing: border-box; /* Ensure padding is included in the width/height */
  }
  
  #terminal {
    white-space: pre-wrap; /* Preserve spaces and allow wrapping */
    word-wrap: break-word; /* Break long words that don't fit */
    overflow-wrap: break-word; /* Handle wrapping for long words */
    width: 100%; /* Ensure text wraps within the available width */
  }

  #terminal-wrapper::-webkit-scrollbar {
    display: none;
  }

  #prompt {
    display: flex;
    align-items: center;
    position: relative; /* Add relative positioning to parent */
    margin-top: 5px; /* Space between the terminal content and prompt */
    width: 100%;
}

#command-input {
    background: none;
    border: none;
    outline: none;
    position: relative; /* Use relative positioning */
    margin-left: 2px; /* Add margin for spacing */
    width: 100%;
   /* border: solid; */
}
