@import url(https://fonts.googleapis.com/css?family=VT323);

body, input {
  font-family: 'VT323', Arial, Helvetica, sans-serif;;
  -webkit-font-smoothing: none;
  font-size: 100%;
  line-height: 1.2;
  text-shadow: 0 0 5px #C8C8C8;
  background-color: #000000;
}

#terminal-wrapper {
    margin: 0 auto;
    border: none;
    height: 90dvh; 
    overflow-y: auto;
}

#terminal {
    margin:0 auto;
    margin-bottom: 10px;
    overflow:auto;
    white-space: pre; /* Preserve whitespace */
}

#prompt {
    display: flex;
    align-items: center;
    position: relative; /* Add relative positioning to parent */
}

#command-input {
    background: none;
    border: none;
    width: 100%; /* Set width to 100% to make it full-width */
    outline: none;
    position: relative; /* Use relative positioning */
    margin-left: 2px; /* Add margin for spacing */
}

.container {
    padding-top: 20px;
    padding-bottom: 40px;
}

#terminal-wrapper::-webkit-scrollbar {
    display: none;
  }


  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body{
    font-size: 1.4rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body{
    font-size: 2rem; 
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body{
    font-size: 2.4rem; 
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body{
    font-size: 3.4rem; 
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  body{
    font-size: 4rem;
  }
}

